---
import BaseLayout from '@/layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const allPosts = await getCollection('showcase');
  const uniqueTags = [...new Set(allPosts.map((post) => post.data.tags).flat())];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) => post.data.tags.includes(tag));
    return {
      params: { tag },
      props: { posts: filteredPosts }
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;

function BlogPost(props: { url: string; title: string }) {
  return (
    <li>
      <a href={props.url} class="text-blue-500 hover:underline">
        {props.title}
      </a>
    </li>
  );
}
---

<BaseLayout
  seo={{
    title: `Posts tagged with ${tag}`,
    description: `Posts tagged with ${tag}`
  }}
>
  <p>Posts tagged with {tag}</p>
  <ul>
    {posts.map((post) => <BlogPost url={post.slug} title={post.data.title} />)}
  </ul>
</BaseLayout>
