---
import AppLayout from '@/layouts/AppLayout.astro';
import IconCalendar from '@/lib/assets/icons/calendar.svg?raw';
import LogoShowcase from '@/lib/comps/LogoGame/LogoShowcase.svelte';
import PageHeader from '@/lib/comps/PageHeader.astro';
import PageMain from '@/lib/comps/PageMain.astro';
import { ProgrammingLanguage, UserProgrammingLanguage, and, db, eq } from 'astro:db';

if (!Astro.locals.user) {
  return Astro.redirect('/login/discord?redirect_to=/me');
}

const { user } = Astro.locals;

const logos_all = await db
  .select({
    logo_id: ProgrammingLanguage.id,
    logo_count: UserProgrammingLanguage.count
  })
  .from(ProgrammingLanguage)
  .leftJoin(
    UserProgrammingLanguage,
    and(
      eq(ProgrammingLanguage.id, UserProgrammingLanguage.programmingLanguageId),
      eq(UserProgrammingLanguage.userId, user.id)
    )
  );

const logos_found: Record<string, number> = {};

for (const logo of logos_all) {
  if (logo.logo_count !== null && logo.logo_count > 0) {
    logos_found[logo.logo_id] = logo.logo_count;
  }
}

function formatDate(date: Date) {
  const formater = new Intl.DateTimeFormat('en-US', {
    weekday: 'long',
    day: 'numeric',
    month: 'long',
    year: 'numeric'
  });
  const parts = formater.formatToParts(date);
  return `${parts[0]!.value} ${parts[4]!.value} ${parts[2]!.value} of ${parts[6]!.value}`;
}
---

<AppLayout
  seo={{
    title: 'My account',
    description: 'View and manage your account information and programming language logos.'
  }}
>
  <PageMain class="pb-16">
    <PageHeader title="My account" />

    <section class="space-y-4 py-8">
      <h2 class="text-2xl font-bold">Information</h2>
      <div class="flex flex-wrap gap-4 px-4 py-4">
        <div class="size-32 overflow-hidden rounded-md">
          <img src={user.avatar} alt=`Avatar of ${user.name}` />
        </div>
        <div class="my-auto space-y-2">
          <p class="flex text-xl font-semibold">{user.name}</p>
          <p class="flex text-lg font-medium" title="Discord username">@{user.username}</p>
          <p class="flex text-lg font-medium" title="Date joined">
            <span class="mr-2 inline-block" set:html={IconCalendar} />
            {formatDate(user.joinedAt)}
          </p>
        </div>
      </div>
    </section>

    <LogoShowcase client:load logosFound={logos_found} />
  </PageMain>
</AppLayout>
