---
import PageMain from '@/lib/comps/PageMain.astro';
import type { CollectionEntry } from 'astro:content';
import BaseLayout from './BaseLayout.astro';

type ShowcaseCollection = CollectionEntry<'showcase'>;

type Props = {
  frontmatter: ShowcaseCollection['data'];
};

const { frontmatter } = Astro.props;
---

<BaseLayout
  seo={{
    title: frontmatter.title,
    description: frontmatter.description,
    og: {
      url: Astro.url.href,
      title: frontmatter.title,
      image: frontmatter.image.url,
      image_alt: frontmatter.image.alt
    },
    og_article: {
      published_time: frontmatter.publishDate.toString().slice(0, 10),
      modified_time: (frontmatter.updatedDate ?? frontmatter.publishDate).toString().slice(0, 10)
    },
    og_optional: {
      site_name: 'Astro Showcase',
      description: frontmatter.description,
      locale: 'en_US'
    }
  }}
>
  <PageMain class="">
    <header>
      <h1>{frontmatter.title}</h1>
      <p>{frontmatter.publishDate.toString().slice(0, 10)}</p>
      <p><em>{frontmatter.description}</em></p>
      <p>Written by: {frontmatter.author}</p>
      <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />
      <div class="tags">
        {
          frontmatter.tags.map((tag) => (
            <p class="tag">
              <a href={`/tags/${tag}`}>{tag}</a>
            </p>
          ))
        }
      </div>
    </header>

    <div class="prose">
      <slot />
    </div>

    <footer>
      <nav>
        <ul></ul>
      </nav>
    </footer>
  </PageMain>
</BaseLayout>

<style>
  a {
    color: #00539f;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    font-size: 1.15em;
    background-color: #f8fcfd;
  }
</style>
